html,body{
	margin: 0;
	background-color:lightgray;
	height: 100%;
	/*min-width: 700px;*/
}
header{
	margin: 10px auto;
	max-width: 80%;
	display: flex;
	background-color: gray;
	box-shadow: 0 0 20px grey;
	border-radius: 5px;
	list-style-type: none;
	justify-content: space-between;
}
main{
	max-width: 80%;
	margin: 10px auto;
}
.logo{
	max-width: 250px;
	margin-left:5%;
}

.text1{
	margin-top:26px;
	padding: 0;
	font-family: Complex;
	font-style: italic;
	font-weight: bold;
	margin: 30px;
}	

h1{
	margin-top: 50px;
	font-family: Candara Light;
	text-align: center;
	text-shadow: 0 0 1px red;
	color: gray;
}
h2{
	text-align: center;
	font-family: Artifakt Element Thin;
	color:gray;
}
h3{
	color: gray;
	text-shadow: 0 0 0.1px red;
}
h4{
	color: gray;
	text-shadow: 0 0 0.1px red;
	text-align: center;
	font-family: Candara Light;
}
.first{
	display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}
.txt{
	align-content: center;
	flex-direction: column;
	text-align: left;
	width: 40vw;
	margin-left: 50px;
	line-height: 25px;
	font-family: Corbel Light;
	max-height: 400px;
	word-wrap: break-word;
}
.first_txt{
	font-size: 1.2vw;
}
.foto{
	margin-left: 5%;
	height: 300px;
	width: 300px;
	border-radius: 10px;
	box-shadow: 0 0 20px gray;
}
.gallery{
justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    display: flex;
    flex-flow: row wrap;
}
.block_first{
 flex-basis: 48%;
	margin: 1%;
	height: 400px;
	text-align:center;
	max-width:480px;
}
.block_second{
 flex-basis: 48%; 
	margin: 1%;
	height: 400px;
	text-align: center;
	max-width:480px;
}
.block_third{
 flex-basis: 48%;
	margin: 1%;
	height: 400px;
	text-align: center;
	max-width:480px;
}
.block_fourth{
 flex-basis: 48%;
	margin: 1%;
	height: 400px;
	text-align: center;	
	max-width:480px;
}
.pictures{
	height: 250px;
	width: 250px;
	border-radius: 10px;
	margin-left: 20%;
	box-shadow: 0 0 20px gray;
}
.text{
	text-align: center;
	font-family: Corbel Light;
}
.tx{
	height: 250px;
}
footer{
	margin: 10px auto;
	max-width: 85%;
	display: flex;
	background-color: gray;
	box-shadow: 0 0 20px grey;
	border-radius: 5px;
	list-style-type: none;
	justify-content: space-evenly;
	height:20%;
	margin-top:20px;
	line-height: 20px;
}
.info_company{
	flex-direction: column;
	text-align: left;
	width: 20%;
	align-self: center;
	font-family: Candara Light;
	font-size: 1.3vw;
	color: rgb(85, 90, 90);
}
.contact_info{
	flex-direction: column;
	text-align: left;
	width: 30%;
	align-self: center;
	font-family: Candara Light;
	font-size: 1.3vw;
	color: rgb(85, 90, 90);
}
.top{
	background-image: linear-gradient(to right, gray 0%, lightgray  51%, gray  100%)
}
.top {
	text-decoration: none;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px gray;
    border-radius: 10px;
    display: block;
	text-decoration: none;
}
 .top:hover {
  background-position: right center; 
  color: #fff;
}
 .a:link {
    color: rgb(85, 90, 90); 
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width:800px){
	.foto{
		width:50%;
		height:50%;
	}
	.first{
		display:flex;
		flex-direction: column;
		
	}
	.txt{
		width:80%;
		
}
	.first_txt{
		font-size:12px;
	}
	.gallery{
		display:flex;
		flex-direction: column;
	}
	.tx{
		height: 150px;
		display:flex;
		align-items: center;
	}
	.pictures{
		height:185px;
		margin-bottom:10px;
	}
	h4{
		margin-left:20%;
		font-size:25px;
	}
	.block_first, .block_second, .block_third, .block_fourth{
		display:flex;
		flex-direction: column;
	justify-content: center;
		align-items: center;
	}
	.text{
		margin-left:20%;
		font-size:20px;
	}
	.contact_info, .info_company, .a{
		font-size:9px;
		color:rgb(90,90,90);
	}
	.a{
		text-decoration: none;
	}
	.text1{
		font-size:1.5vw;
	}
}